@media (max-width:560px) { 
    h1,
    h2,
    h3,
    h4,
    p,
    a { 
        font-size: 1.5em; 
    }
    h1,
    h2,
    h3,
    h4 { 
        font-weight: bold;
    } 
    .me {
        float:none;
    }
}
