name: Build Cloudflare Pages
on:
  push:
    branches:
      "main"
  workflow_dispatch:

permissions: 
  contents: write

jobs:
  publish:
    runs-on: ubuntu-latest
    name: Build
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.25'

      - name: Build
        run: |
          cd src
          go mod tidy
          go run .

      - name: Configure git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
        shell: bash

      - name: Fetch and checkout target branch
        run: |
          set -e
          git fetch origin main
          git fetch origin docs || echo "docs branch does not exist remotely yet"
          git checkout -B docs origin/main
          echo "Reset target branch to match main"=

      - name: Commit and push docs
        run: |
          set -e

          ls docs

          git status

          git add docs
          if git diff --cached --quiet; then
            echo "No changes to commit. Exiting."
          else
            git commit -m "Update docs"
            git push --force-with-lease origin docs
          fi
        shell: bash
